.button-checkout {
    background-color: #831536 ; 
    border: #500c21 solid;
    color: #ffffff;
    margin: 2px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }