.box-detail{
    width: calc(33% - 40px);
    margin: 20px;
    height: auto;
    background: rgb(222, 222, 222);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    float: center;
    border: 1px rgb(58, 60, 170) solid;
    padding: 10px; 
}  

.button-return-detail {
    background-color: #383379 ; 
    border: #042849 solid;
    color: #ffffff;
    margin: 2px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  
